/*============= SECTION POLICY =============*/
.bwp-widget-policy .row--banners {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.bwp-widget-policy .title-banner {
  margin: 0 0 8px;
}
.bwp-widget-policy .bwp-image {
  transition: all .3s ease;
  margin-bottom: 23px;
}
.bwp-widget-policy .pos-align-center .featured-banner {
  text-align: center;
}
.bwp-widget-policy .pos-align-center .bwp-image {
  margin: auto;
}
.bwp-widget-policy .pos-align-right .featured-banner {
  text-align: right;
}
.bwp-widget-policy .pos-align-right .bwp-image {
  margin-left: auto;
}
.bwp-widget-policy .pos-align-right .banner-wrapper-infor {
  order: 1;
}