/* $opacity-to-hex: (
	0: '00',
	0.05: '0C',
	0.1: '19',
	0.15: '26',
	0.2: '33',
	0.25: '3F',
	0.3: '4C',
	0.35: '59',
	0.4: '66',
	0.45: '72',
	0.5: '7F',
	0.55: '8C',
	0.6: '99',
	0.65: 'A5',
	0.7: 'B2',
	0.75: 'BF',
	0.8: 'CC',
	0.85: 'D8',
	0.9: 'E5',
	0.95: 'F2',
	1: 'FF'
); */
body{
	--white: #fff;
    --theme-color:#ff3535;
	--theme-color-15:#ff353526;
	--theme-color-25:#ff35353F;
	--theme-color-50:#ff35357F;
	--theme-color-75:#ff3535BF;
	
	--hover-color:#ff3535;
	--secondary-color:#31373d;
	--text-color:#9b9b9b;
	--text-color-50:#9b9b9b7F;
	--text-color-75:#9b9b9bBF;
	
	--gray-dark-15:#22222226;
	--gray-dark-25:#2222223F;
	--gray-dark-35:#22222259;
	--gray-dark:#222222;
	--gray-dark-50:#2222227F;
	--gray-dark-75:#222222BF;
	
	--body-bg-color:#ffffff;
	--border-color:#dedede;
	--border-color-50:#dedede7F;
	
	--header-bg-color: #ffffff;
	--footer-color: #9b9b9b;
	--footer-color-hover: #ff3535;
	--menu-color: #222222;
	--menu-hover-color: #222222;
	--menu-dropdown-bg: #ffffff;
	--menu-dropdown-color: #9b9b9b;
	--menu-dropdown-hover-color: #ff3535;
	
	--font-family-second: Bebas Neue;
	--heading-font-weight-default: 400;
	--heading-font-weight-bold: 400;
	--heading-font-weight-medium: 400;
	--heading-font-weight-light: 400;
	--font-size-heading: 30px;
	
	--font-family-base: Arial;
	--body-font-weight-default: 400;
	--body-font-weight-bold: 700;
	--body-font-weight-medium: 500;
	--body-font-weight-light: 300;
	--font-size-base: 14px;
}